Repository FrancoTastaca/recalc, pull requests merged in 2023-06, with the labels that each got.

#30 Feature/funcion dtb opcional - endpoint - test
  src/controllers.js
  src/core.js
  src/seed.js
  test/api.test.js
  test/core.test.js
Labels: refactor

#31 Feature/endpoint history by id opcional - test
  src/controllers.js
  src/models.js
  test/api.test.js
  test/models.test.js
Labels: enhancement, test

#32 Feature: refactor codigo general
  package-lock.json
  src/controllers.js
  test/api.test.js
  test/models.test.js
Labels: refactor

#33 Feature: multiplicacion interfaz
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#34 Feature/suma interfaz
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#35 Feature: potencia interfaz
  src/public/index.html
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#37 Feature/division interfaz
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#38 Feature/boton c y test
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#36 Feature/test estaticos
  .eslintrc.cjs
  src/api.js
  src/cli.js
  src/core.js
  src/models.js
  src/public/index.js
Labels: test

#39 Feature: bug undefined lugar vacio
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#40 Feature/sqrt interfaz
  src/public/index.html
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#41 Feature/dtb interfaz
  src/public/index.html
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#42 Release1.3.3
  .eslintrc.cjs
  CHANGELOG.md
  README.md
  db.test
  package-lock.json
  package.json
  src/api.js
  src/cli.js
  src/controllers.js
  src/core.js
  src/models.js
  src/public/index.html
  src/public/index.js
  src/seed.js
  test/api.test.js
  test/core.test.js
  test/models.test.js
  test/ui.test.js
Labels: documentation
